mat-spinner {
  margin: 10px auto;
}
.reviews {
  mat-card {
    text-align: left;
  }
  .recommended, .not-recommended {
    font-size: 12px;
    .mat-icon {
      height: 14px;
      width: 17px;
      font-size: 12px;
    }
  }
  .recommended {
    color: #4cea52;
  }
  .not-recommended {
    color: #ea4c4c;
  }
}
.product-info {
  padding-bottom: 15px;
  small {
    font-size: 15px;
    color: rgb(126, 126, 126);
    font-weight: normal;
  }
}