<mat-card>
    <button mat-raised-button (click)="getExtract()" [color]="warn">Extract</button>
    <button mat-raised-button (click)="getTransform()" [color]="primary" [disabled]="!extract">Transform</button>
    <button mat-raised-button (click)="getLoad()" [color]="accent" [disabled]="!transform">Load</button>
    <button mat-raised-button (click)="getReviews()" [disabled]="!load">Show reviews</button>
</mat-card>

<mat-card *ngIf="extract">
    <div *ngIf="extract">Extract: {{ extract | json }}</div>
    <div *ngIf="transform">Transform: {{ transform | json }}</div>
    <div *ngIf="load">Load: {{ load | json }}</div>
</mat-card>