<mat-card *ngIf="product">
    <div class="product-info">
        <img *ngIf="product.imgUrl" src="{{ product?.imgUrl }}" alt="{{ product?.name }}">
        <h1>{{ product?.name }} <small>({{ product?.ceneoId }})</small></h1>
        <h4>Category: {{ product?.category }}</h4>
        <p>{{ product?.description }}</p>
    </div>
    <div class="buttons-group">
        <button mat-raised-button (click)="getExtract()" color="warn" [disabled]="!ceneoId">Extract</button>
        <button mat-raised-button (click)="getTransform()" color="primary" [disabled]="!extract">Transform</button>
        <button mat-raised-button (click)="getLoad()" color="accent" [disabled]="!transform">Load</button>
    </div>
    <div class="buttons-group">
        <button mat-raised-button (click)="getReviews()" color="primary">Show reviews</button>
        <button mat-raised-button (click)="dropDatabase()" color="warn">Clear database</button>
    </div>
</mat-card>

<mat-spinner *ngIf="loading"></mat-spinner>

<mat-card *ngIf="extract && !loading">
    <div *ngIf="extract"><strong>Extract:</strong> reviewsCount: {{ extract?.reviewsCount }}, pageCount: {{ extract?.pageCount }}, time: {{ extract?.time }}</div>
    <div *ngIf="transform"><strong>Transform:</strong> reviewsCount: {{ transform?.reviewsCount }}, time: {{ transform?.time }}</div>
    <div *ngIf="load"><strong>Load:</strong> reviewsCount: {{ load?.reviewsCount }}, time: {{ load?.time }}</div>
</mat-card>

<div class="reviews" *ngIf="!loading">
    <mat-card *ngFor="let review of reviews?.reviews">
        <mat-card-title>
            {{ review.reviewerName }}
            <span *ngIf="review.recommended == 'Polecam'" class="recommended"><mat-icon>done</mat-icon>{{ review.recommended }}</span>
            <span *ngIf="review.recommended == 'Nie polecam'" class="not-recommended"><mat-icon>clear</mat-icon>{{ review.recommended }}</span>
        </mat-card-title>
        <mat-card-subtitle>Rating: {{ review.rating }}/5 | Created at: {{ review.date }}</mat-card-subtitle>
        <mat-card-content>
            <p>{{ review.content }}</p>
            <div *ngIf="review.pros.length" class="pros-cons">
                <strong>Zalety:</strong>
                <ul>
                    <li *ngFor="let pro of review?.pros">{{ pro }}</li>
                </ul>
            </div>
            <div *ngIf="review.cons.length" class="pros-cons">
                <strong>Wady:</strong>
                <ul>
                    <li *ngFor="let con of review?.cons">{{ con }}</li>
                </ul>
            </div>
        </mat-card-content>
    </mat-card>
</div>