<mat-card>
    <button mat-raised-button (click)="getExtract()">Extract</button>
    <button mat-raised-button (click)="getTransform()" color="primary">Transform</button>
    <button mat-raised-button (click)="getLoad()" color="accent">Load</button>
</mat-card>

<!-- NOTE: Tymczasowe wyświetlenie danych-->
<div *ngIf="extract">
    <div *ngIf="extract">Extract: {{ extract | json }}</div>
    <div *ngIf="transform">Transform: {{ transform | json }}</div>
    <div *ngIf="load">Load: {{ load | json }}</div>
</div>